---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageContent from "../components/PageContent";
import CarouselSection from "../components/CarouselSection";
import ContactSection from "../components/ContactSection";
---

<BaseLayout>
  <div class="flex flex-col gap-y-16">
    <PageContent client:load />
    <CarouselSection client:visible />
    <ContactSection client:visible />
  </div>
</BaseLayout>
