---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/ui/Heading.astro";
import Description from "../components/ui/Description.astro";
import ProjectCards from "../components/ProjectCards";
import Carousel from "../components/Carousel";
import { ContactForm } from "../components/Form/ContactForm";
import { introContent, contactContent } from "../lib/data";
---

<BaseLayout>
  <!-- Hero -->
  <section class="w-full space-y-6 mt-8">
    <Heading as="h1" underlineColor="decoration-[#4AE54A]/60">
      {introContent.title}
    </Heading>
    <Description direction="down" color="teal" class="flex space-x-4">
      <img src="/hi.svg" alt="hi" width={40} height={40} />
      <p>{introContent.description}</p>
    </Description>
    <div class="flex justify-center mt-12">
      <a
        href="#contact-heading"
        class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-lg text-sm font-semibold
          transition-all cursor-pointer h-10 px-6 py-2.5 text-zinc-700 border-2 border-zinc-400
          shadow-[0_6px_0_rgb(161,161,170)] active:shadow-[0_2px_0px_rgb(161,161,170)] active:translate-y-1
          bg-lime-200 hover:bg-lime-300/80 flex-none outline-none
          focus-visible:ring-[3px] focus-visible:ring-ring/50"
      >
        <img
          class="select-none"
          alt="autonavi"
          src="/autonavi.svg"
          height={20}
          width={20}
        />
        Contact Me
      </a>
    </div>
  </section>

  <!-- Work Projects -->
  <section aria-label="Work Projects" class="space-y-6">
    <Heading as="h2" underlineColor="decoration-purple-300">
      Work Projects
    </Heading>
    <ProjectCards type="work" client:visible />
  </section>

  <!-- Other Projects -->
  <section aria-label="Other Projects" class="space-y-6">
    <Heading as="h2" underlineColor="decoration-pink-300">
      Other Projects
    </Heading>
    <ProjectCards type="other" client:visible />
  </section>

  <!-- Ghibli Bulldogs -->
  <section
    aria-label="Ghibli Bulldogs"
    class="space-y-6 flex flex-col items-center"
  >
    <Heading as="h2" underlineColor="decoration-yellow-300">
      Ghibli Bulldogs
    </Heading>
    <Carousel client:visible />
    <Description direction="up" color="blue">
      Ghibli-style bulldogs generated in Sora.
    </Description>
  </section>

  <!-- Contact -->
  <section aria-label="Contact" class="space-y-6 flex flex-col items-center">
    <Heading
      as="h2"
      id="contact-heading"
      underlineColor="decoration-orange-300"
    >
      {contactContent.title}
    </Heading>
    <Description direction="up" color="yellow">
      {contactContent.description}
    </Description>
    <ContactForm client:visible />
  </section>
</BaseLayout>
