<footer class="mb-8 flex justify-center gap-3 lg:mx-auto">
  <p class="mt-8 text-zinc-800">&copy; {new Date().getFullYear()}</p>
  <span class="mt-8 text-zinc-800">&middot;</span>
  <a href="/privacy" class="mt-8 text-zinc-800 hover:underline">Privacy Policy</a>
  <span class="mt-8 text-zinc-800">&middot;</span>
  <a href="/terms" class="mt-8 text-zinc-800 hover:underline">Terms of Use</a>
</footer>
